@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html, body {
    @apply transition-colors duration-300 ease-in-out;
  }

  /* Target all common themed elements */
  *, ::before, ::after {
    @apply border-gray-200 dark:border-slate-800;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}